schemes/PL_010_V1/e610130_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by sas-softwares@procergs.rs.gov.br (PROCERGS) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/nfe" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="tiposBasico_v1.03.xsd"/>
	<xs:element name="detEvento">
		<xs:annotation>
			<xs:documentation>Schema XML de validação do evento de Comprovante de Entrega de CT-e</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="descEvento">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="“Comprovante de Entrega do CT-e"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cOrgaoAutor" type="TCOrgaoIBGE"/>
				<xs:element name="tpAutor">
					<xs:simpleType>
						<xs:annotation>
							<xs:documentation>1=Empresa Emitente; 2=Empresa Destinatária; 3=Empresa; 5=Fisco; 6=RFB; 9=Outros;</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:string">
							<xs:whiteSpace value="preserve"/>
							<xs:enumeration value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="verAplic" type="TVerAplic">
					<xs:annotation>
						<xs:documentation>Versão do Aplicativo do Autor do Evento</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CTe">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="chCTe">
								<xs:simpleType>
									<xs:annotation>
										<xs:documentation>Chave de Acesso do CT-e</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string">
										<xs:whiteSpace value="preserve"/>
										<xs:pattern value="[0-9]{44}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="nProtCTe">
								<xs:simpleType>
									<xs:annotation>
										<xs:documentation>Número Protocolo CT-e para o evento “Comprovante de Entrega do CT-e”.</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string">
										<xs:whiteSpace value="preserve"/>
										<xs:pattern value="[0-9]{15}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dhEntrega" type="TDateTimeUTC">
								<xs:annotation>
									<xs:documentation>Data e hora do final da entrega. Formato AAAA-MMDDThh:mm:ssTZD.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="nDoc">
								<xs:simpleType>
									<xs:annotation>
										<xs:documentation>Número do documento de identificação da pessoa que assinou o Comprovante de Entrega do CT-e</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string">
										<xs:minLength value="2"/>
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="xNome">
								<xs:annotation>
									<xs:documentation>Nome da pessoa que assinou o Comprovante de Entrega da NF-e</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="TString">
										<xs:maxLength value="60"/>
										<xs:minLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="latGPS" type="TLatitude" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Latitude do ponto de entrega</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="longGPS" type="TLongitude" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Longitude do ponto de entrega</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="hashEntregaCTe">
								<xs:annotation>
									<xs:documentation>Hash (SHA1) no formato Base64 resultante da concatenação: Chave de acesso do CT-e + Base64 da imagem capturada da entrega (Exemplo: imagem capturada da assinatura eletrônica, digital do recebedor, foto, etc)</xs:documentation>
									<xs:documentation>O hashCSRT é o resultado das funções SHA-1 e base64 do token CSRT fornecido pelo fisco + chave de acesso do DF-e. (Implementação em futura NT)
Observação: 28 caracteres são representados no schema como 20 bytes do tipo base64Binary</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:base64Binary">
										<xs:length value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dhHashEntregaCTe" type="TDateTimeUTC" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Data e hora da geração do hash do Comprovante de Entrega do CT-e Formato AAAA-MMDDThh:mm:ssTZD.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="versao" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:enumeration value="1.00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
