schemes/PL_010_V1.21/DFeTiposBasicos_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by sas-softwares@procergs.rs.gov.br (PROCERGS) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:simpleType name="TStringRTC">
		<xs:annotation>
			<xs:documentation> Tipo string genérico</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TCST">
		<xs:annotation>
			<xs:documentation>Código Situação Tributária do IBS/CBS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TcClassTrib">
		<xs:annotation>
			<xs:documentation>Código de Classificação Tributária do IBS e da CBS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TcCredPres">
		<xs:annotation>
			<xs:documentation>Código de Classificação do Crédito Presumido do IBS e da CBS, conforme tabela cCredPres</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TDec1104">
		<xs:annotation>
			<xs:documentation>Tipo Decimal com 15 dígitos, sendo 11 de corpo e 4 decimais</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="0|0\.[0-9]{4}|[1-9]{1}[0-9]{0,10}(\.[0-9]{4})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TDec_1104Op">
		<xs:annotation>
			<xs:documentation>Tipo Decimal com 11 inteiros, podendo ter 4 decimais (utilizado em tags opcionais)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="0\.[1-9]{1}[0-9]{3}|0\.[0-9]{3}[1-9]{1}|0\.[0-9]{2}[1-9]{1}[0-9]{1}|0\.[0-9]{1}[1-9]{1}[0-9]{2}|[1-9]{1}[0-9]{0,10}(\.[0-9]{4})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TDec1302">
		<xs:annotation>
			<xs:documentation>Tipo Decimal com 15 dígitos, sendo 13 de corpo e 2 decimais</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="0|0\.[0-9]{2}|[1-9]{1}[0-9]{0,12}(\.[0-9]{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TDec_0302_04">
		<xs:annotation>
			<xs:documentation>Tipo Decimal com até 3 dígitos inteiros, podendo ter de 2 até 4 decimais</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="0|0\.[0-9]{2,4}|[1-9]{1}[0-9]{0,2}(\.[0-9]{2,4})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TOperCompraGov">
		<xs:annotation>
			<xs:documentation>Tipo da Operação com Ente Governamental</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TEnteGov">
		<xs:annotation>
			<xs:documentation>Tipo de Ente Governamental</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TTpCredPresIBSZFM">
		<xs:annotation>
			<xs:documentation>Tipo de classificação do Crédito Presumido IBS ZFM</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TTribNFCom">
		<xs:annotation>
			<xs:documentation>Grupo de informações da Tributação da NFCom</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="TCST">
				<xs:annotation>
					<xs:documentation>Código Situação Tributária do IBS/CBS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cClassTrib" type="TcClassTrib"/>
			<xs:element name="gIBSCBS" type="TCIBS" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TTribNF3e">
		<xs:annotation>
			<xs:documentation>Grupo de informações da Tributação da NF3e</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="TCST">
				<xs:annotation>
					<xs:documentation>Código Situação Tributária do IBS/CBS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cClassTrib" type="TcClassTrib"/>
			<xs:element name="gIBSCBS" type="TCIBS" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TTribCTe">
		<xs:annotation>
			<xs:documentation>Grupo de informações da Tributação do CTe</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="TCST">
				<xs:annotation>
					<xs:documentation>Código Situação Tributária do IBS/CBS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cClassTrib" type="TcClassTrib"/>
			<xs:element name="gIBSCBS" type="TCIBS" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TTribBPe">
		<xs:annotation>
			<xs:documentation>Grupo de informações da Tributação do BPe</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="TCST">
				<xs:annotation>
					<xs:documentation>Código Situação Tributária do IBS/CBS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cClassTrib" type="TcClassTrib"/>
			<xs:element name="gIBSCBS" type="TCIBS" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TTribNFCe">
		<xs:annotation>
			<xs:documentation>Grupo de informações da Tributação da NFCe</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="TCST">
				<xs:annotation>
					<xs:documentation>Código Situação Tributária do IBS/CBS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cClassTrib" type="TcClassTrib"/>
			<xs:choice minOccurs="0">
				<xs:element name="gIBSCBS" type="TCIBS"/>
				<xs:element name="gIBSCBSMono" type="TMonofasia"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TTribNFe">
		<xs:annotation>
			<xs:documentation>Grupo de informações da Tributação da NFe</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CST" type="TCST">
				<xs:annotation>
					<xs:documentation>Código Situação Tributária do IBS/CBS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cClassTrib" type="TcClassTrib"/>
			<xs:choice minOccurs="0">
				<xs:element name="gIBSCBS" type="TCIBS"/>
				<xs:element name="gIBSCBSMono" type="TMonofasia">
					<xs:annotation>
						<xs:documentation>Informar essa opção da Choice para Monofasia</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="gTransfCred" type="TTransfCred">
					<xs:annotation>
						<xs:documentation>Informar essa opção da Choice para o CST 800</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="gCredPresIBSZFM" type="TCredPresIBSZFM" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Classificação de acordo com o art. 450, § 1º, da LC 214/25 para o cálculo do crédito presumido na ZFM</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TIS">
		<xs:annotation>
			<xs:documentation>Grupo de informações do Imposto Seletivo</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CSTIS" type="TCST">
				<xs:annotation>
					<xs:documentation>Código Situação Tributária do Imposto Seletivo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cClassTribIS" type="TcClassTrib"/>
			<xs:sequence minOccurs="0">
				<xs:element name="vBCIS" type="TDec1302">
					<xs:annotation>
						<xs:documentation>Valor do BC</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pIS" type="TDec_0302_04">
					<xs:annotation>
						<xs:documentation>Alíquota do Imposto Seletivo (percentual)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pISEspec" type="TDec_0302_04" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Alíquota do Imposto Seletivo (por valor)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence minOccurs="0">
					<xs:element name="uTrib">
						<xs:annotation>
							<xs:documentation>Unidade de medida apropriada especificada em Lei Ordinaria para fins de apuração do Imposto Seletivo</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="TStringRTC">
								<xs:minLength value="1"/>
								<xs:maxLength value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="qTrib" type="TDec_1104Op">
						<xs:annotation>
							<xs:documentation>Quantidade com abse no campo uTrib informado</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="vIS" type="TDec1302">
					<xs:annotation>
						<xs:documentation>Valor do Imposto Seletivo calculado</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TISTot">
		<xs:annotation>
			<xs:documentation>Grupo de informações de totais do Imposto Seletivo</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vIS" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Valor Total do Imposto Seletivo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TIBSCBSTot">
		<xs:annotation>
			<xs:documentation>Grupo de informações de totais da CBS/IBS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vBCIBSCBS" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Total Base de Calculo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gIBS">
				<xs:annotation>
					<xs:documentation>Totalização do IBS</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="gIBSUF">
							<xs:annotation>
								<xs:documentation>Totalização do IBS de competência da UF</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="vDif" type="TDec1302">
										<xs:annotation>
											<xs:documentation>Total do Diferimento</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="vDevTrib" type="TDec1302">
										<xs:annotation>
											<xs:documentation>Total de devoluções de tributos</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="vIBSUF" type="TDec1302">
										<xs:annotation>
											<xs:documentation>Valor total do IBS Estadual</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="gIBSMun">
							<xs:annotation>
								<xs:documentation>Totalização do IBS de competência Municipal</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="vDif" type="TDec1302">
										<xs:annotation>
											<xs:documentation>Total do Diferimento</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="vDevTrib" type="TDec1302">
										<xs:annotation>
											<xs:documentation>Total de devoluções de tributos</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="vIBSMun" type="TDec1302">
										<xs:annotation>
											<xs:documentation>Valor total do IBS Municipal</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="vIBS" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor total do IBS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCredPres" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Total do Crédito Presumido</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCredPresCondSus" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Total do Crédito Presumido Condição Suspensiva</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="gCBS">
				<xs:annotation>
					<xs:documentation>Totalização da CBS</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="vDif" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Total do Diferimento</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vDevTrib" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Total de devoluções de tributos</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCBS" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor total da CBS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCredPres" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Total do Crédito Presumido</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCredPresCondSus" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Total do Crédito Presumido Condição Suspensiva</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TIBSCBSMonoTot">
		<xs:annotation>
			<xs:documentation>Grupo de informações de totais da CBS/IBS com monofasia</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vBCIBSCBS" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Total Base de Calculo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gIBS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Totalização do IBS</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="gIBSUF">
							<xs:annotation>
								<xs:documentation>Totalização do IBS de competência da UF</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="vDif" type="TDec1302">
										<xs:annotation>
											<xs:documentation>Total do Diferimento</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="vDevTrib" type="TDec1302">
										<xs:annotation>
											<xs:documentation>Total de devoluções de tributos</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="vIBSUF" type="TDec1302">
										<xs:annotation>
											<xs:documentation>Valor total do IBS Estadual</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="gIBSMun">
							<xs:annotation>
								<xs:documentation>Totalização do IBS de competência Municipal</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="vDif" type="TDec1302">
										<xs:annotation>
											<xs:documentation>Total do Diferimento</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="vDevTrib" type="TDec1302">
										<xs:annotation>
											<xs:documentation>Total de devoluções de tributos</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="vIBSMun" type="TDec1302">
										<xs:annotation>
											<xs:documentation>Valor total do IBS Municipal</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="vIBS" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor total do IBS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCredPres" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Total do Crédito Presumido</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCredPresCondSus" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Total do Crédito Presumido Condição Suspensiva</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="gCBS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Totalização da CBS</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="vDif" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Total do Diferimento</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vDevTrib" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Total de devoluções de tributos</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCBS" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor total da CBS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCredPres" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Total do Crédito Presumido</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCredPresCondSus" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Total do Crédito Presumido Condição Suspensiva</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="gMono" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Totais da Monofasia</xs:documentation>
					<xs:documentation>Só deverá ser utilizado para DFe modelos 55 e 65</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="vIBSMono" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor total do IBS monofásico</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCBSMono" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor total da CBS monofásica</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vIBSMonoReten" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor total do IBS monofásico sujeito a retenção</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCBSMonoReten" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor total da CBS monofásica sujeita a retenção</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vIBSMonoRet" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor do IBS monofásico retido anteriormente</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCBSMonoRet" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor da CBS monofásica retida anteriormente</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TMonofasia">
		<xs:annotation>
			<xs:documentation>Tipo Monofasia</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Monofasia</xs:documentation>
			</xs:annotation>
			<xs:element name="gMonoPadrao" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Grupo de informações da Tributação Monofásica padrão</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="qBCMono" type="TDec_1104Op">
							<xs:annotation>
								<xs:documentation>Quantidade tributada na monofasia</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="adRemIBS" type="TDec_0302_04">
							<xs:annotation>
								<xs:documentation>Alíquota ad rem do IBS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="adRemCBS" type="TDec_0302_04">
							<xs:annotation>
								<xs:documentation>Alíquota ad rem da CBS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vIBSMono" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor do IBS monofásico</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCBSMono" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor da CBS monofásica</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="gMonoReten" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Grupo de informações da Tributação Monofásica sujeita a retenção</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="qBCMonoReten" type="TDec_1104Op">
							<xs:annotation>
								<xs:documentation>Quantidade tributada sujeita a retenção.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="adRemIBSReten" type="TDec_0302_04">
							<xs:annotation>
								<xs:documentation>Alíquota ad rem do IBS sujeito a retenção</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vIBSMonoReten" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor do IBS monofásico sujeito a retenção</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="adRemCBSReten" type="TDec_0302_04">
							<xs:annotation>
								<xs:documentation>Alíquota ad rem da CBS sujeita a retenção</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCBSMonoReten" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor da CBS monofásica sujeita a retenção</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="gMonoRet" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Grupo de informações da Tributação Monofásica retida anteriormente</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="qBCMonoRet" type="TDec_1104Op">
							<xs:annotation>
								<xs:documentation>Quantidade tributada retida anteriormente</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="adRemIBSRet" type="TDec_0302_04">
							<xs:annotation>
								<xs:documentation>Alíquota ad rem do IBS retido anteriormente</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vIBSMonoRet" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor do IBS retido anteriormente</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="adRemCBSRet" type="TDec_0302_04">
							<xs:annotation>
								<xs:documentation>Alíquota ad rem da CBS retida anteriormente</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCBSMonoRet" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor da CBS retida anteriormente</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="gMonoDif" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Grupo de informações do diferimento da Tributação Monofásica</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="pDifIBS" type="TDec_0302_04">
							<xs:annotation>
								<xs:documentation>Percentual do diferimento do imposto monofásico</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vIBSMonoDif" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor do IBS monofásico diferido</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="pDifCBS" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Percentual do diferimento do imposto monofásico</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCBSMonoDif" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor da CBS monofásica diferida</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="vTotIBSMonoItem" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Total de IBS monofásico do item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vTotCBSMonoItem" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Total da CBS monofásica do item</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TCIBS">
		<xs:annotation>
			<xs:documentation>Tipo CBS IBS Completo</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>IBS / CBS</xs:documentation>
			</xs:annotation>
			<xs:element name="vBC" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Valor do BC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="gIBSUF">
					<xs:annotation>
						<xs:documentation>Grupo de informações do IBS na UF</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="pIBSUF" type="TDec_0302_04">
								<xs:annotation>
									<xs:documentation>Aliquota do IBS de competência das UF</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="gDif" type="TDif" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Grupo de campos do Diferimento</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="gDevTrib" type="TDevTrib" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Grupo de Informações da devolução de tributos</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="gRed" type="TRed" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Grupo de campos da redução de aliquota</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="vIBSUF" type="TDec1302">
								<xs:annotation>
									<xs:documentation>Valor do IBS de competência das UF</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="gIBSMun">
					<xs:annotation>
						<xs:documentation>Grupo de Informações do IBS no Município</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="pIBSMun" type="TDec_0302_04">
								<xs:annotation>
									<xs:documentation>Aliquota do IBS Municipal</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="gDif" type="TDif" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Grupo de campos do Diferimento</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="gDevTrib" type="TDevTrib" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Grupo de Informações da devolução de tributos</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="gRed" type="TRed" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Grupo de campos da redução de aliquota</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="vIBSMun" type="TDec1302">
								<xs:annotation>
									<xs:documentation>Valor do IBS Municipal</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="vIBS" type="TDec1302">
					<xs:annotation>
						<xs:documentation>Valor do IBS</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="gCBS">
				<xs:annotation>
					<xs:documentation>Grupo de Tributação da CBS</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="pCBS" type="TDec_0302_04">
							<xs:annotation>
								<xs:documentation>Aliquota da CBS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="gDif" type="TDif" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Grupo de campos do Diferimento</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="gDevTrib" type="TDevTrib" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Grupo de Informações da devolução de tributos</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="gRed" type="TRed" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Grupo de campos da redução de aliquota</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vCBS" type="TDec1302">
							<xs:annotation>
								<xs:documentation>Valor da CBS</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="gTribRegular" type="TTribRegular" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Grupo de informações da Tributação Regular. Informar como seria a tributação caso não cumprida a condição resolutória/suspensiva. Exemplo 1: Art. 442, §4. Operações com ZFM e ALC. Exemplo 2: Operações com suspensão do tributo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gIBSCredPres" type="TCredPres" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Grupo de Informações do Crédito Presumido referente ao IBS, quando aproveitado pelo emitente do documento. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gCBSCredPres" type="TCredPres" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Grupo de Informações do Crédito Presumido referente a CBS, quando aproveitado pelo emitente do documento. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gTribCompraGov" type="TTribCompraGov" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Grupo de informações da composição do valor do IBS e da CBS em compras governamental</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRed">
		<xs:annotation>
			<xs:documentation>Tipo Redução Base de Cálculo</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pRedAliq" type="TDec_0302_04">
				<xs:annotation>
					<xs:documentation>Percentual de redução de aliquota do cClassTrib</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pAliqEfet" type="TDec_0302_04">
				<xs:annotation>
					<xs:documentation>Aliquota Efetiva que será aplicada a Base de Calculo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TCredPres">
		<xs:annotation>
			<xs:documentation>Tipo Crédito Presumido</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cCredPres" type="TcCredPres">
				<xs:annotation>
					<xs:documentation>Código de Classificação do Crédito Presumido do IBS e da CBS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pCredPres" type="TDec_0302_04">
				<xs:annotation>
					<xs:documentation>Percentual do Crédito Presumido</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="vCredPres" type="TDec1302">
					<xs:annotation>
						<xs:documentation>Valor do Crédito Presumido</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="vCredPresCondSus" type="TDec1302">
					<xs:annotation>
						<xs:documentation>Valor do Crédito Presumido Condição Suspensiva, preencher apenas para cCredPres que possui indicação de Condição Suspensiva</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TDif">
		<xs:annotation>
			<xs:documentation>Tipo Diferimento</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pDif" type="TDec_0302_04">
				<xs:annotation>
					<xs:documentation>Percentual do diferimento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vDif" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Valor do diferimento</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TDevTrib">
		<xs:annotation>
			<xs:documentation>Tipo Devolução Tributo</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vDevTrib" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Valor do tributo devolvido. No fornecimento de energia elétrica, água, esgoto e
gás natural e em outras hipóteses definidas no regulamento</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TTribRegular">
		<xs:annotation>
			<xs:documentation>Tipo Tributação Regular</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CSTReg" type="TCST">
				<xs:annotation>
					<xs:documentation>Código da Situação Tributária do IBS e CBS</xs:documentation>
					<xs:documentation>Informar qual seria o CST caso não cumprida a condição resolutória/suspensiva</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cClassTribReg" type="TcClassTrib">
				<xs:annotation>
					<xs:documentation>Informar qual seria o cClassTrib caso não cumprida a condição resolutória/suspensiva</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pAliqEfetRegIBSUF" type="TDec_0302_04">
				<xs:annotation>
					<xs:documentation>Alíquota do IBS da UF</xs:documentation>
					<xs:documentation>Informar como seria a Alíquota caso não cumprida a condição resolutória/suspensiva</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vTribRegIBSUF" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Valor do IBS da UF</xs:documentation>
					<xs:documentation>Informar como seria o valor do Tributo caso não cumprida a condição resolutória/suspensiva</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pAliqEfetRegIBSMun" type="TDec_0302_04">
				<xs:annotation>
					<xs:documentation>Alíquota do IBS do Município</xs:documentation>
					<xs:documentation>Informar como seria a Alíquota caso não cumprida a condição resolutória/suspensiva</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vTribRegIBSMun" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Valor do IBS do Município</xs:documentation>
					<xs:documentation>Informar como seria o valor do Tributo caso não cumprida a condição resolutória/suspensiva</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pAliqEfetRegCBS" type="TDec_0302_04">
				<xs:annotation>
					<xs:documentation>Alíquota da CBS</xs:documentation>
					<xs:documentation>Informar como seria a Alíquota caso não cumprida a condição resolutória/suspensiva</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vTribRegCBS" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Valor da CBS</xs:documentation>
					<xs:documentation>Informar como seria o valor do Tributo caso não cumprida a condição resolutória/suspensiva</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TTribCompraGov">
		<xs:annotation>
			<xs:documentation>Tipo Tributação Compra Governamental</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pAliqIBSUF" type="TDec_0302_04"/>
			<xs:element name="vTribIBSUF" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Valor que seria devido a UF, sem aplicação do Art. 473. da LC 214/2025</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pAliqIBSMun" type="TDec_0302_04"/>
			<xs:element name="vTribIBSMun" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Valor que seria devido ao município, sem aplicação do Art. 473. da LC 214/2025</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pAliqCBS" type="TDec_0302_04"/>
			<xs:element name="vTribCBS" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Valor que seria devido a CBS, sem aplicação do Art. 473. da LC 214/2025</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TCompraGovReduzido">
		<xs:annotation>
			<xs:documentation>Tipo Compras Governamentais</xs:documentation>
			<xs:documentation>Cada DFe que utilizar deverá utilizar esses tipo no grupo ide</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tpEnteGov" type="TEnteGov">
				<xs:annotation>
					<xs:documentation>Para administração pública direta e suas autarquias e fundações:
1=União
2=Estados
3=Distrito Federal
4=Municípios</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pRedutor" type="TDec_0302_04">
				<xs:annotation>
					<xs:documentation>Percentual de redução de aliquota em compra goverrnamental</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TCompraGov">
		<xs:annotation>
			<xs:documentation>Tipo Compras Governamentais</xs:documentation>
			<xs:documentation>Cada DFe que utilizar deverá utilizar esses tipo no grupo ide</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tpEnteGov" type="TEnteGov">
				<xs:annotation>
					<xs:documentation>Para administração pública direta e suas autarquias e fundações:
1=União
2=Estados
3=Distrito Federal
4=Municípios</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pRedutor" type="TDec_0302_04">
				<xs:annotation>
					<xs:documentation>Percentual de redução de aliquota em compra goverrnamental</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tpOperGov" type="TOperCompraGov">
				<xs:annotation>
					<xs:documentation>Tipo da operação com ente governamental:
1 - Fornecimento
2 - Recebimento do Pagamento</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TTransfCred">
		<xs:annotation>
			<xs:documentation>Tipo Transferência de Crédito</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vIBS" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Valor do IBS a ser transferido</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vCBS" type="TDec1302">
				<xs:annotation>
					<xs:documentation>Valor da CBS a ser transferida</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TCredPresIBSZFM">
		<xs:annotation>
			<xs:documentation>Tipo Informações do crédito presumido de IBS para fornecimentos a partir da ZFM</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tpCredPresIBSZFM" type="TTpCredPresIBSZFM">
				<xs:annotation>
					<xs:documentation>Classificação de acordo com o art. 450, § 1º, da LC 214/25 para o cálculo do crédito presumido na ZFM</xs:documentation>
					<xs:documentation>0 - Sem crédito presumido;
1 - Bens de consumo final (55%);
2 - Bens de capital (75%);
3 - Bens intermediários (90,25%);
4 - Bens de informática e outros definidos em legislação (100%).
OBS: Percentuais definidos no art. 450, § 1º, da LC 214/25 para o cálculo do crédito presumido
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vCredPresIBSZFM" type="TDec1302" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do crédito presumido calculado sobre o saldo devedor apurado</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
