schemes/PL_010_V1.30/e110001_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by sas-software@procergs.rs.gov.br (PROCERGS) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/nfe" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="tiposBasico_v1.03.xsd"/>
	<xs:element name="detEvento">
		<xs:annotation>
			<xs:documentation>Informações do Cancelamento de evento</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="descEvento">
					<xs:annotation>
						<xs:documentation>Informar “Cancelamento de Evento"</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Cancelamento de Evento"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cOrgaoAutor" type="TCodUfIBGE">
					<xs:annotation>
						<xs:documentation>Código do Órgão Autor do Evento. Informar o Código da UF para este Evento.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="verAplic" type="TVerAplic">
					<xs:annotation>
						<xs:documentation>Versão do Aplicativo que recebeu o Evento</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="tpEventoAut">
					<xs:annotation>
						<xs:documentation>Código do evento autorizado a ser cancelado</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="112110"/>
							<xs:enumeration value="112120"/>
							<xs:enumeration value="112130"/>
							<xs:enumeration value="112140"/>
							<xs:enumeration value="112150"/>
							<xs:enumeration value="211110"/>
							<xs:enumeration value="211120"/>
							<xs:enumeration value="211124"/>
							<xs:enumeration value="211128"/>
							<xs:enumeration value="211130"/>
							<xs:enumeration value="211140"/>
							<xs:enumeration value="211150"/>
							<xs:enumeration value="212110"/>
							<xs:enumeration value="212120"/>
							<xs:enumeration value="412120"/>
							<xs:enumeration value="412130"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="nProtEvento" type="TProt">
					<xs:annotation>
						<xs:documentation>Informar o número do Protocolo de Autorização do Evento a ser cancelado</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="versao">
				<xs:annotation>
					<xs:documentation>Versão do leiaute do evento </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:enumeration value="1.00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
